<!DOCTYPE html>
<html>
    <body>
        <a href="/" class="link-class">Home</a>
        <h3>404 - Something went wrong</h3>
       <p><a href="/" class="link-class">Return to homepage</a></p>
    </body>
</html>