<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs', { pageTitle }) %>
    <body>
        <%- include('partials/nav.ejs') %>
        <h3>Are you sure you want to log out?</h3>
        <%- include('partials/logoutPartial.ejs') %>
    </body>
</html>